<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.smlightwai"
          android:versionCode="1"
          android:versionName="1.0">

  <!-- Required -->
  <permission
    android:name="com.example.smlightwai.permission.JPUSH_MESSAGE"
    android:protectionLevel="signature"/>

  <!-- Required -->
  <uses-permission android:name="com.example.smlightwai.permission.JPUSH_MESSAGE"/>
  <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

  <!-- Optional. Required for location feature -->
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
  <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.GET_TASKS"/>

  <uses-permission
    android:name="android.permission.INTERNET">
  </uses-permission>
  <uses-permission
    android:name="android.permission.CAMERA"/>
  <uses-permission
    android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission
    android:name="android.permission.READ_EXTERNAL_STORAGE"/>

  <application
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme">

    <!-- Required SDK 核心功能-->
    <!-- 可配置android:process参数将PushService放在其他进程中 -->
    <service
      android:name="cn.jpush.android.service.PushService"
      android:enabled="true"
      android:exported="false">
      <intent-filter>
        <action android:name="cn.jpush.android.intent.REGISTER"/>
        <action android:name="cn.jpush.android.intent.REPORT"/>
        <action android:name="cn.jpush.android.intent.PushService"/>
        <action android:name="cn.jpush.android.intent.PUSH_TIME"/>
      </intent-filter>
    </service>


    <!-- since 3.0.9 Required SDK 核心功能-->
    <provider
      android:name="cn.jpush.android.service.DataProvider"
      android:authorities="com.example.smlightwai.DataProvider"
      android:exported="true"
      />

    <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
    <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
    <service
      android:name="cn.jpush.android.service.DaemonService"
      android:enabled="true"
      android:exported="true">
      <intent-filter>
        <action android:name="cn.jpush.android.intent.DaemonService"/>
        <category android:name="com.example.smlightwai"/>
      </intent-filter>
    </service>

    <!-- since 3.1.0 Required SDK 核心功能-->
    <provider
      android:name="cn.jpush.android.service.DownloadProvider"
      android:authorities="com.example.smlightwai.DownloadProvider"
      android:exported="true"
      />

    <!-- Required SDK核心功能-->
    <receiver
      android:name="cn.jpush.android.service.PushReceiver"
      android:enabled="true">
      <intent-filter android:priority="1000">
        <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>
        <category android:name="com.example.smlightwai"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.USER_PRESENT"/>
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
      </intent-filter>
      <!-- Optional -->
      <intent-filter>
        <action android:name="android.intent.action.PACKAGE_ADDED"/>
        <action android:name="android.intent.action.PACKAGE_REMOVED"/>

        <data android:scheme="package"/>
      </intent-filter>
    </receiver>

    <!-- Required SDK核心功能-->
    <activity
      android:name="cn.jpush.android.ui.PushActivity"
      android:configChanges="orientation|keyboardHidden"
      android:exported="false"
      android:theme="@android:style/Theme.NoTitleBar">
      <intent-filter>
        <action android:name="cn.jpush.android.ui.PushActivity"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="com.example.smlightwai"/>
      </intent-filter>
    </activity>
    <!-- SDK核心功能-->
    <activity
      android:name="cn.jpush.android.ui.PopWinActivity"
      android:configChanges="orientation|keyboardHidden"
      android:exported="false"
      android:theme="@style/MyDialogStyle">
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="com.example.smlightwai"/>
      </intent-filter>
    </activity>

    <!-- Required SDK核心功能-->
    <service
      android:name="cn.jpush.android.service.DownloadService"
      android:enabled="true"
      android:exported="false">
    </service>

    <!-- Required SDK核心功能-->
    <receiver android:name="cn.jpush.android.service.AlarmReceiver"/>

    <!-- Required since 3.0.7 -->
    <!-- 新的tag/alias接口结果返回需要开发者配置一个自定的广播 -->
    <!-- 该广播需要继承JPush提供的JPushMessageReceiver类, 并如下新增一个 Intent-Filter -->

    <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。-->
    <!-- 例如: -->
    <!-- 发到 Google Play 的APK可以设置为 google-play; -->
    <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
    <meta-data
      android:name="JPUSH_CHANNEL"
      android:value="developer-default"/>
    <!-- Required. AppKey copied from Portal -->
    <meta-data
      android:name="JPUSH_APPKEY"
      android:value="f4b6953aaf2840a8445f7259"/>

    <activity
      android:name="com.example.smlightwai.Loginpage"
      android:label="@string/app_name"
      >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name="com.example.smlightwai.Roleengineer">
    </activity>
    <activity android:name="com.example.smlightwai.shijian_page1">
    </activity>
    <activity android:name="com.example.smlightwai.shijian_page2">
    </activity>
    <activity android:name="com.example.smlightwai.gerenshijianguanli">
    </activity>
    <activity android:name="com.example.smlightwai.benbumenzongheshijianguanli">
    </activity>
    <activity android:name="com.example.smlightwai.shijianlist">
    </activity>
    <activity android:name="com.example.smlightwai.shijianzhipai">
    </activity>
    <activity android:name="com.example.smlightwai.benbumenweichulishijianlist">
    </activity>
    <activity android:name="com.example.smlightwai.zhanghuguanli">
    </activity>
    <activity android:name="com.example.smlightwai.shebei_page1">
    </activity>
    <activity android:name="com.example.smlightwai.shebeilist">
    </activity>
    <activity android:name="com.example.smlightwai.shebeichaxunneirong">
    </activity>
    <activity android:name="com.example.smlightwai.xiaoxi_page1">
    </activity>
    <activity android:name="com.example.smlightwai.xiaoxi_page2">
    </activity>
    <activity android:name="com.example.smlightwai.jieshouxiaoxineirong">
    </activity>
    <activity android:name="com.example.smlightwai.shebeiweibaoneirong">
    </activity>
    <activity android:name="com.example.smlightwai.xiaoxichakanlist">
    </activity>
    <activity android:name="com.example.smlightwai.xiaoxishenghelist">
    </activity>
    <activity android:name="com.example.smlightwai.daixiaoxishenheneirong">
    </activity>
    <activity android:name="com.example.smlightwai.dainianjianshebeilist">
    </activity>
    <activity android:name="com.example.smlightwai.daiweibaoshebeilist">
    </activity>
    <activity android:name="com.example.smlightwai.Rolecehua">
    </activity>
    <activity android:name="com.example.smlightwai.Rolekefu">
    </activity>
    <activity android:name="com.example.smlightwai.Roleshichang">
    </activity>
    <activity android:name="com.example.smlightwai.Rolezongjingli">
    </activity>
    <activity android:name="com.example.smlightwai.Roleanbao">
    </activity>
    <activity android:name="com.example.smlightwai.baojingboth">
    </activity>
    <activity android:name="com.example.smlightwai.guzhangneirong">
    </activity>
    <activity android:name="com.example.smlightwai.huozaibaojinglist">
    </activity>
    <activity android:name="com.example.smlightwai.shebeibaojinglist">
    </activity>
    <activity android:name="com.example.smlightwai.huojingneirong">
    </activity>
    <activity android:name="com.example.smlightwai.jixuchulilist">
    </activity>
    <activity android:name="com.example.smlightwai.jixuchulineirong">
    </activity>
    <activity android:name="com.example.smlightwai.xunzhi_page">
    </activity>
    <activity android:name="com.example.smlightwai.Rolexingzheng">
    </activity>
    <activity android:name="com.example.smlightwai.shebeijihualist">
    </activity>
    <activity android:name="com.example.smlightwai.shebeiweibaolist">
    </activity>
    <activity android:name="com.example.smlightwai.Xiaoxi_gerenxiaoxizhuangtailist">
    </activity>
    <activity android:name="com.example.smlightwai.jieshouxiaoxilist">
    </activity>
    <activity android:name="com.example.smlightwai.xiaoxishenhefenlei">
    </activity>
    <activity android:name="com.example.smlightwai.lishixiaoxishenhelist">
    </activity>
    <activity android:name="com.example.smlightwai.xiaoxilishishenhelist">
    </activity>
    <activity android:name="com.example.smlightwai.gerenfasongxiaoxineirong">
    </activity>
    <activity android:name="com.example.smlightwai.chulixiaoxishenhelist">
    </activity>
    <activity
      android:name="com.example.smlightwai.nfcdaka"
      android:launchMode="singleTop">
      <intent-filter>
        <action android:name="android.nfc.action.TECH_DISCOVERED"/>
      </intent-filter>
      <meta-data
        android:name="android.nfc.action.TECH_DISCOVERED"
        android:resource="@xml/nfc_tech_filter"/>
    </activity>
    <activity android:name="com.example.smlightwai.xunzhineirngtianxie">
    </activity>
    <activity android:name="com.example.smlightwai.dangtianzhibanlist">
    </activity>
    <activity android:name="com.example.smlightwai.lishizhibanriqixuanze">
    </activity>
    <activity android:name="com.example.smlightwai.lishizhibanlist">
    </activity>
    <activity android:name="com.example.smlightwai.tongxing_tianxie">
    </activity>
    <activity android:name="com.example.smlightwai.tongxing_bothguanli">
    </activity>
    <activity android:name="com.example.smlightwai.tongxing_bothyuangong">
    </activity>
    <activity android:name="com.example.smlightwai.tongxing_gerenchaxunlist">
    </activity>
    <activity android:name="com.example.smlightwai.tongxing_gerenneirong">
    </activity>
    <activity android:name="com.example.smlightwai.tongxing_shenhelist">
    </activity>
    <activity android:name="com.example.smlightwai.tongxing_shenheneirong">
    </activity>
    <activity android:name="com.example.smlightwai.tongxing_anbaolist">
    </activity>
    <activity android:name="com.example.smlightwai.tongxing_tarenneirong">
    </activity>
    <activity android:name="com.example.smlightwai.shijianchaxunneirong">
    </activity>
    <activity android:name="com.example.smlightwai.guanggaofenleipage">
    </activity>
    <activity android:name="com.example.smlightwai.lishiguanggaolist">
    </activity>
    <activity android:name="com.example.smlightwai.shenheguanggaolist">
    </activity>
    <activity android:name="com.example.smlightwai.lishiguanggaoneirong">
    </activity>
    <activity android:name="com.example.smlightwai.shenheguanggaoneirong">
    </activity>
    <activity android:name="com.example.smlightwai.tabumenzongheshijianguanli">
    </activity>
    <activity android:name="com.example.smlightwai.tabumenweichulishijianlist">
    </activity>
    <activity android:name="com.example.smlightwai.shijianyishen">
    </activity>
    <activity android:name="com.example.smlightwai.dangtianzhibanneirong">
    </activity>
    <activity android:name="com.example.smlightwai.shijianrenyuanlist">
    </activity>
    <activity android:name="com.example.smlightwai.shebeixitong">
    </activity>
    <activity android:name="com.example.smlightwai.shebeileibie">
    </activity>
    <activity android:name="com.example.smlightwai.shebeiquyu">
    </activity>
    <activity android:name="com.example.smlightwai.erweimagongneng">
    </activity>
    <activity android:name="com.example.smlightwai.erweimataizhang">
    </activity>
    <activity android:name="com.example.smlightwai.erweimaweibao">
    </activity>
    <activity android:name="com.example.smlightwai.bumenrenyuanlist">
    </activity>
    <activity android:name="com.example.smlightwai.shijian_chakantupian">
    </activity>
    <activity android:name="com.example.smlightwai.tongxing_tupianchakan">
    </activity>
    <activity android:name="com.example.smlightwai.shebeichaweibaolist">
    </activity>
    <activity android:name="com.example.smlightwai.shebeichaweibaoneirong">
    </activity>
    <activity android:name="com.example.smlightwai.shebeijihuaneirong">
    </activity>
    <activity android:name="com.example.smlightwai.weibaoxiangqinglist">
    </activity>
    <activity android:name="com.example.smlightwai.weibaoxiangqingyiban">
    </activity>
    <activity android:name="com.example.smlightwai.weibaoxiangqingguanli">
    </activity>
    <activity android:name="com.example.smlightwai.shijian_page3">
    </activity>
    <activity android:name="com.example.smlightwai.xiaoxi_page3">
    </activity>
    <activity android:name="com.example.smlightwai.tuisong_huojing">
    </activity>
    <activity android:name="com.example.smlightwai.tuisong_xiaoxichakan">
    </activity>
    <activity android:name="com.example.smlightwai.tuisong_shijianyishen">
    </activity>
    <activity android:name="com.example.smlightwai.tuisong_shijianershen">
    </activity>
    <activity android:name="com.example.smlightwai.tuisong_jixuchuli">
    </activity>
    <activity android:name="com.example.smlightwai.tuisong_yishentuihui">
    </activity>
    <activity android:name="com.example.smlightwai.tuisong_weibaoqueren">
    </activity>
    <activity
      android:name="com.zxing.activity.CaptureActivity"
      android:configChanges="orientation|keyboardHidden"
      android:screenOrientation="portrait"
      android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
      android:windowSoftInputMode="stateAlwaysHidden">
    </activity>

  </application>

</manifest>
